html,
body {
  width: 100vw;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a:link, a:visited, a:active {
  color: #FFF;
  text-decoration: none;
}


.fs {
  width: 100%;
}

/*******************  fs-intro  ********************/
.fs-intro {
  width: 100%;
  /*margin-bottom: 180px;*/
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
}
.fs-intro-logo {
  width: 100px;
  height: 50px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* font-size: 1.8rem; */
  /* padding-top: 25px; */
  /* padding-bottom: 18px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* margin-bottom: 80px; */
  /* border-bottom: 1px solid #000; */
  background-image: url(../img/logo/mimal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/*.logo {
  width: 100px;
  height: 50px;
  background-image: url(../img/logo/mimal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}*/
/*.fs-intro-detail {
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 80px;
}
.fs-intro-showroom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
/*.fs-intro-showroom-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
/*.fs-intro-showroom-item {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}*/
/*.fs-intro-showroom-back {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fs-intro-showroom-backdetail {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 50px;
  font-weight: bold;
  margin-top: 100px;
}
.fs-intro-showroom-backitem {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}*/
/*******************  /fs-intro/  ********************/

.fs-textBlock {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fs-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url(../img/headImg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 20px;
}
.fs-tittle {
  text-align: center;
  margin-bottom: 20px;
  font-family: helvetica;
}
.fs-text {
  width: 100%;
  line-height: 2rem;
  font-size: 16px;
  font-family: helvetica;
  text-align: center;
}
.fs-link {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fs-ecommerce-logo {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fs-directBtn {
  width: 270px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 150px;*/
}
.fs-directBtn-words {
  color: #FFF;
  font-size: 2rem;
  font-family: helvetica;
  font-weight: bold;
  margin-right: 5px;
}
.fs-directBtn-arrow {
  width: 40px;
  height: 20px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 5px;
}


/*******************  fs-products  ********************/
.fs-products {
  width: 100%;
}
.fs-products-size {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.fs-products-size-item {
  width: 100px;
  height: 160px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #000;
  position: relative;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}
.framedSize::after {
  content: "";
  display: block;
  width: 120px;
  height: 180px;
  border: 1px solid #000;
  position: absolute;
  left: -10.75px;
  top: -10.75px;
}
.fs-products-row {
  width: 100%;
  display: flex;
}
.fs-products-item {
  width: 200px;
  height: 350px;
  position: relative;
}
.product-img {
  position: relative;
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.fs-products-No {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  top: -20%;
  left: calc((100% - 50px)/2);
  border-radius: 100%;
}
.product-info {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/*******************  /fs-products/  ********************/


/*******************  fs-detail  ********************/
.fs-detail {
  width: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/
}

.fs-detail-item-text {
  width: 70%;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  word-break: break-word;
}
.fs-detail-item-title {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
/*******************  /fs-detail/  ********************/

/*******************  fs-decorspace  ********************/
.fs-block-title {
  border-bottom: 1px solid #000;
  padding: 5px;
  width: 130px;
  padding-left: 0;
  padding-bottom: 10px;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.fs-decorspace {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.fs-decorspace-list {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
}
.fs-decorspace-item {
  font-size: 1.5rem;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
/*******************  /fs-decorspace  ********************/



/*******************  fs-footer  ********************/
.fs-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  margin-top: 200px;
  padding-top: 50px;
  background-color: #000;
}
.fs-footer-company {
  width: 100%;
  margin-top: 50px;
  color: #FFF;
}
.fs-copyrights {
  width: 100%;
  font-size: 12px;
  line-height: 1rem;
  text-align: center;
  font-family: helvetica;
}
.fs-footer-companyID {
  width: 40%;
  font-size: 12px;
  line-height: 1rem;
  text-align: right;
}
.fs-footer-contact-detail {
  margin-bottom: 10px;
}
.detail-title {
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.fs-footer-contact {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-link:link, .contact-link:visited, .contact-link:active{
  color: #FFF;
  margin-left: 10px;
  margin-right: 10px;
  font-family: helvetica;
  font-size: 14px;
}
/*******************  /fs-footer/  ********************/


.fs-message {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 300px;
}
