@media only screen and (max-width: 554px) {
  .fs-products-row {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .fs-products-item {
    margin-bottom: 150px;
  }
  .fs-detail {
    margin-top: 200px;
  }
  .fs-detail-item {
    width: 100%;
    margin-bottom: 150px;
    text-align: center;
  }
  .fs-decorspace-list {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 100px;
    grid-row-gap: 50px;
  }
  .fs-decorspace-item {
    width: 120px;
    height: 120px;
  }

  .fs-gallery-show {
    grid-template-columns: 100px 100px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
  }
  .buylink {
    right: 5%;
  }
  .backlink {
    left: 5%;
  }
}
